In [2]:
import pandas as pd
import numpy as np

In [13]:
path = 'D:/2019-2020-1/BaiduTraffic/traffic_speed_sub-dataset.v2/traffic_speed_sub-dataset/traffic_speed_sub-dataset_02.v2'
speed_df = pd.read_table(path, names = ['link_id', 'time', 'speed'], sep = ',')
speed_df.head()

      link_id  time      speed
0  1570006049  4685  19.682303
1  1570006049  4686  18.807499
2  1570006049  4687  18.657097
3  1570006049  4688  19.591112
4  1570006049  4689  19.402024

In [28]:
for i in range(2,10):
    path = 'D:/2019-2020-1/BaiduTraffic/traffic_speed_sub-dataset.v2/traffic_speed_sub-dataset/traffic_speed_sub-dataset_0%d.v2'%(i)
    print(path)
    speed_df = pd.read_table(path, names = ['link_id', 'time', 'speed'], sep = ',')
    selected_speed = speed_df[speed_df['link_id'].isin(selected_id)]
    c = np.concatenate((c,selected_speed), axis=0)
    print(c.shape)

D:/2019-2020-1/BaiduTraffic/traffic_speed_sub-dataset.v2/traffic_speed_sub-dataset/traffic_speed_sub-dataset_02.v2
(392352, 3)
D:/2019-2020-1/BaiduTraffic/traffic_speed_sub-dataset.v2/traffic_speed_sub-dataset/traffic_speed_sub-dataset_03.v2
(503616, 3)
D:/2019-2020-1/BaiduTraffic/traffic_speed_sub-dataset.v2/traffic_speed_sub-dataset/traffic_speed_sub-dataset_04.v2
(638304, 3)
D:/2019-2020-1/BaiduTraffic/traffic_speed_sub-dataset.v2/traffic_speed_sub-dataset/traffic_speed_sub-dataset_05.v2
(767136, 3)
D:/2019-2020-1/BaiduTraffic/traffic_speed_sub-dataset.v2/traffic_speed_sub-dataset/traffic_speed_sub-dataset_06.v2
(895968, 3)
D:/2019-2020-1/BaiduTraffic/traffic_speed_sub-dataset.v2/traffic_speed_sub-dataset/traffic_speed_sub-dataset_07.v2
(1042368, 3)
D:/2019-2020-1/BaiduTraffic/traffic_speed_sub-dataset.v2/traffic_speed_sub-dataset/traffic_speed_sub-dataset_08.v2
(1141920, 3)
D:/2019-2020-1/BaiduTraffic/traffic_speed_sub-dataset.v2/traffic_speed_sub-dataset/traffic_speed_sub-dataset_09.v2
(1264896, 3)

In [14]:
speed_df.shape

(26438669, 3)

In [15]:
selected_id = np.load("02_selected_id.npy")

In [16]:
selected_speed_2 = speed_df[speed_df['link_id'].isin(selected_id)]

In [20]:
a = selected_speed.values

In [25]:
a

array([[1.56164640e+09, 0.00000000e+00, 2.79948442e+01],
       [1.56164640e+09, 1.00000000e+00, 2.81438587e+01],
       [1.56164640e+09, 2.00000000e+00, 2.47325369e+01],
       ...,
       [1.54215675e+09, 5.85300000e+03, 1.91609417e+01],
       [1.54215675e+09, 5.85400000e+03, 1.87989461e+01],
       [1.54215675e+09, 5.85500000e+03, 1.95474078e+01]])

In [21]:
b = selected_speed_2.values

In [23]:
c = np.concatenate((a,b), axis=0)

In [24]:
c.shape

(281088, 3)

In [30]:
np.save("selected_speed_data.npy", c)

In [34]:
df = pd.DataFrame(c)

In [39]:
df.columns = ['link_id', 'time', 'speed']

In [41]:
df['link_id'] = df['link_id'].astype(int)

In [43]:
df['time'] = df['time'].astype(int)

In [44]:
df.head()

      link_id  time      speed
0  1561646402     0  27.994844
1  1561646402     1  28.143859
2  1561646402     2  24.732537
3  1561646402     3  24.710982
4  1561646402     4  31.373775

In [45]:
c = df.values

In [46]:
c

array([[1.56164640e+09, 0.00000000e+00, 2.79948442e+01],
       [1.56164640e+09, 1.00000000e+00, 2.81438587e+01],
       [1.56164640e+09, 2.00000000e+00, 2.47325369e+01],
       ...,
       [1.56182494e+09, 5.85300000e+03, 3.89774793e+01],
       [1.56182494e+09, 5.85400000e+03, 3.66568844e+01],
       [1.56182494e+09, 5.85500000e+03, 3.47411581e+01]])