In [1]:
import numpy as np
import pandas as pd

In [2]:
with open('/home/blu/workspace/GCN/DCRNN-master/data/sensor_graph/graph_sensor_ids.txt') as f:
        sensor_ids = f.read().strip().split(',')

In [4]:
distance_df = pd.read_csv('/home/blu/workspace/GCN/DCRNN-master/data/sensor_graph/distances_la_2012.csv', dtype={'from': 'str', 'to': 'str'})

In [5]:
distance_df.head()

      from       to    cost
0  1201054  1201054     0.0
1  1201054  1201066  2610.9
2  1201054  1201076  2822.7
3  1201054  1201087  2911.5
4  1201054  1201100  7160.1

In [6]:
num_sensors = len(sensor_ids)
dist_mx = np.zeros((num_sensors, num_sensors), dtype=np.float32)
dist_mx[:] = np.inf

In [8]:
dist_mx.shape

(207, 207)

In [9]:
sensor_id_to_ind = {}
for i, sensor_id in enumerate(sensor_ids):
    sensor_id_to_ind[sensor_id] = i

In [11]:
for row in distance_df.values:
    if row[0] not in sensor_id_to_ind or row[1] not in sensor_id_to_ind:
        continue
    dist_mx[sensor_id_to_ind[row[0]], sensor_id_to_ind[row[1]]] = row[2]

In [12]:
dist_mx

array([[     0.        ,             inf,             inf, ...,
                    inf,   8114.79980469,  10009.70019531],
       [            inf,      0.        ,   2504.60009766, ...,
                    inf,             inf,             inf],
       [            inf,   1489.30004883,      0.        , ...,
                    inf,             inf,   9837.        ],
       ...,
       [            inf,             inf,             inf, ...,
             0.        ,             inf,             inf],
       [  9599.79980469,             inf,             inf, ...,
                    inf,      0.        ,             inf],
       [ 10119.90039062,   9374.79980469,             inf, ...,
                    inf,   9018.70019531,      0.        ]], dtype=float32)

In [13]:
distances = dist_mx[~np.isinf(dist_mx)].flatten()

In [14]:
distances

array([     0.        ,   8251.20019531,  10020.59960938, ...,
         2757.19995117,   9018.70019531,      0.        ], dtype=float32)

In [15]:
std = distances.std()

In [16]:
std

2584.4502

In [18]:
road_df = pd.read_table('/home/blu/workspace/graduate_project/data/road_network_sub-dataset.v2', sep = '\t')

In [20]:
road_df.head()

,link_id,width,direction,snodeid,enodeid,length,speedclass,lanenum
0,1562548955,30,3,1520445066,1549742690,0.038,6,1
1,1570012174,55,2,1520482305,1554157827,0.013,5,2
2,1542179399,30,2,1520491527,1531173821,0.146,6,1
3,1562548950,55,1,1520433538,1549742156,0.029,7,1
4,1526068509,30,2,1520486391,1520499209,0.156,6,1

In [22]:
road_map = road_df.loc[:,['link_id','enodeid','length'] ]

In [23]:
road_map['length'] = road_map['length'].map(lambda x: x*1000)

In [26]:
road_map.to_csv('baidu_dcrnn_roadmap', index=False)